@import url('https://fonts.googleapis.com/css?family=Shrikhand');
/*
=================
       Body
=================
*/

.sphere {
    width: 45%;
    height: 0;
    padding-bottom: 45%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #F41818;
    margin: -30px 0px 0px 375px;
    -webkit-box-shadow: 43px 48px 46px -20px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 43px 48px 46px -20px rgba(0, 0, 0, 0.42);
    box-shadow: 43px 48px 46px -20px rgba(0, 0, 0, 0.42);
}
i {
    margin: 40px 0px 0px 275px;
}
/*
=================
       Font
=================
*/

h1 {
    font-family: 'Shrikhand';
    color: #FFFFFF;
    text-align: center;
    font-size: 5vw;
    padding-top: 50px;
    margin-bottom: -10px;
}
h4 {
    font-family: 'Helvetica';
    text-align: center;
    color: #FFFFFF;
    font-size: 1.4vw;
    margin-left: 100px;
    padding: 0px 40px 0px 40px;
    margin-right: 100px;
}
p {
    font-family: 'Helvetica';
    text-align: center;
    color: #FFFFFF;
    font-size: 1.25vw;
    margin-left: 100px;
    padding: 0px 40px 0px 40px;
    margin-right: 100px;
}
